/* global */

*{
    padding: 0 auto;
    margin: 0 auto;
}

/* header */

header{
    background-color: black;
    color: red;
    padding: 20px;
}

header a{
    float: right;
    margin-top: -25px;
    color: red;
    margin-right: 70px;
}

.logo{
    margin-left: 30px;
}

/* body */

body{
    background-color: rgb(36, 36, 36);
}

.title{
    color: red;
    margin-top: 40px;
    margin-left: 45px;
}

.icon{
    color: red;
    font-size: 120px;
    margin-top: 41px;
}

.icon1{
    color: royalblue;
    margin-left: 140px;

}

.icon2{
    color: green;
    margin-left: 540px;
}

.icon3{
    color: grey;
    float: right;
    margin-right: 150px;
}


.p1{
    color: red;
    margin-left: 100px;
    display: inline-block;
    
}

.p2{
    color: red;
    display: inline-block;
    margin-left: 500px;
    margin-bottom: ;


}

.p3{
    color: red;
    display: inline-block;
    float: right;
}


